h1{
    font-family:Gill Sans MT;
    
}

body{
    background-image:url("https://images.unsplash.com/photo-1670768880088-f944046484a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1298&q=80");
}

#add-details{
    background-color:whitesmoke ;
}

#band-names{
    width: 300x;
    height: 200px;  
}