h1{
    font-family:Gill Sans MT;
    
}

body{
    background-image:url("/images/nicolas-houdayer-mADIJ_GfCJo-unsplash.jpg");
}

#add-details{
    background-color:whitesmoke ;
}

#band-names{
    width: 300x;
    height: 200px;  
}